/Saved
/Intermediate
/.vs
/Build
/Plugins
/Content/SwordTrailVFX
/Content/MixedVFX
/Content/MuzzleFlash
/Content/Free_Sounds_Pack
/Content/EnglishCollege/
/Content/InfinityBladeWeapons
/Content/Vefects
/Content/SciFiCrates
/Content/FXVarietyPack
/Content/KTP_Effect
/Content/LightVortexShader
/Content/__ExternalActors__/
/Content/Basic_VFX/
/Content/Fab
/Content/Keroro_Model
/Content/SciFiPanels
/Content/Knife_light
/Content/Texture
/Content/sA_PickupSet_1
/Content/Simple_forest
/Content/Asian_Village
/Content/
*.exe
*.sln
*.pdb
*.dll
*.umap
*.dll
*_BuiltData.uasset