/Saved
/Intermediate
/.vs
/Build
/Plugins
/Content/MixedVFX
/Content/MuzzleFlash
/Content/Free_Sounds_Pack
/Content/EnglishCollege/
/Content/InfinityBladeWeapons
/Content/Vefects
/Content/SciFiCrates
/Content/LightVortexShader
/Content/__ExternalActors__/
/Content/Basic_VFX/
/Content/Fab
/Content/Keroro_Model
/Content/Knife_light
/Content/Texture
*.exe
*.sln
*.pdb
*.dll
*.umap
*.dll
*_BuiltData.uasset